body{
    text-align: center;
    font-family: Arial,  sans-serif;
    
}

h1{
    color: sienna;
}

.image img{
    width: 200px;
    height: 150px;
    

}

.image p{
    font-size: 14px;
    color: darkslategrey;
}

.nav a{
    text-decoration: none;
    color: blue;
}